<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
  <h1>Welcome to TinyApp!</h1>
<body class="container">

<p> This is your database: </p>
<main>
  <ul> <% Object.keys(urls).forEach((key) => { %>

      </p>
      <li>
        Your ShortURL:   <a href="/u/<%= key %>"> <%= key %></a>  LongURL:  <%= urls[key].longURL %>

          <a href=/urls/<%= key %> : <%= urls[key].longURL %>
            <a href="http://localhost:8080/u/<%= key%>"> Edit </a>
            <form action="/urls/<%= key%>/delete" method="POST">
          <button>Delete </button>
        </form>
        </li>
      <% }); %>

  </ul>
    <a href= "http://localhost:8080/urls/new"> Create a New Short Link</a>
<divclass="jumbotron">

</html>
